
.top-bar {
  background: #333;
}

.top-bar .menu{
  background: #333;
  color: #ececec;
}

.top-bar .menu a{
  color: #ececec;
}

.main-content {
  margin-top: 2rem;
}

.main-content img {
  margin:1rem 1rem;
}

.main-content li{
  margin:1rem 0;
}

.mypanel {
  margin:2rem 0rem;
}
.mypanel-border {
  margin:2rem 0rem;
  border:2px solid #ddd;
  border-top:3px inset #aaa;
  padding:2rem 2rem;
}

.mytitle{
  margin-bottom:1rem;
  font-size:large;
  font-weight:bold;
  color:#1779ba;
}
