
.top-bar {
  background: #333;
}

.top-bar .menu{
  background: #333;
  color: #ececec;
}

.top-bar .menu a{
  color: #ececec;
}

.main-content {
  margin:3rem;
}

.main-content img {
  margin:1rem 1rem;
}

.main-content li{
  margin:1rem 0;
}
